.main-header {
	padding: 33px 0;
  position: fixed;
  background: transparent;
  width: 100%;
  height: 100px;
  overflow-y: visible;
  z-index: 9;
  @include transition(all 300ms ease-in-out);
  will-change:transform;
  &.unpinned {
    transform: translateY(- 100px);
  }
  &.pinned {
    transform: translateY(0);
    background: rgba(0, 0, 0, .90);
  }
}

.open {
  height: 100%;
  background: rgba(0, 0, 0, .90);
}

.logo {
	display: inline-block;
	h1 {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		line-height: 1;
	}
}

.main-nav {
  will-change:transform;
  display: block;
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
  z-index: 9;
	pointer-events: none;
  li {
    position: relative;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    a {
      position: relative;
      cursor: pointer;
      padding: 10px 0 38px 0;
      margin: 0 32px 0 0;
      font-size: 0.875em;
      color: $white;
      text-decoration: none;
      display: block;
      letter-spacing: 3px;
      @include transition(color 300ms ease-in-out);
      &:hover {
        color: rgba(255, 255, 255, 0.5);
      }
      @include screen-below(1025px) {
        padding: 32px 0;
        margin: 0;
      }
    }
    &:last-child {
      a {
        margin: 0;
      }
    }
    @include screen-above(1025px) {
      border-bottom: none;
      display: inline-block;
    }
  }
  @include screen-above(1025px) {
    opacity: 1;
    background: none;
    display: block;
    height: inherit;
    float: right;
    position: relative;
		pointer-events: auto;
  }
  &.nav-open {
    opacity: 1;
    height: inherit;
		pointer-events: auto;
  }
}

.mobile-nav-button {
  color: white;
  display: block;
  position: absolute;
  width: 30px;
  height: 20px;
  top: 33px;
  right: 50px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  text-transform: uppercase;
  @include transition(color 300ms ease-in-out);
  @include screen-between(600px, 768px) {
    right: 50px;
  }
  @include screen-between(768px, 1025px) {
    right: 75px;
  }
  @include screen-above(1025px) {
    display: none;
  }
  &:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  &.navOpen,
  &.close {
    display: block;
    div {
      opacity: 1;
      @include transform( rotate(90deg) scale(1.5));
    }
  }
}
