.container {
	width: 95%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 2.5%;
}

.grid-2 {
  @include screen-above($iPadMini) {
    @include flexgrid(2, 1rem);
	}
}

.grid-3 {
  @include screen-between($iPadMini, $iPad) {
    @include flexgrid(2, 1rem);
  }
  @include screen-above($iPad) {
    @include flexgrid(3, 1rem);
	}
}